fieldset {
  width: 500px;
}

legend {
  font-size: 20px;
}

label.field {
  text-align: left;
  width: 100px;
  float: left;
  font-weight: bold;
}

fieldset p {
  clear: both;
  padding: 5px;
  display: block;
}
