fieldset {
}

legend {
  font-size: 20px;
}

label {
  font-weight: bold;
}

div.form-column {
  float:left;
  padding: 5px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

tr:nth-child(1) {
  background-color: #c0c0c0;
}
