body {
  background-color: #f0f0f0;
}

#main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 600px;
  background-color: white;
}

#main-label {
  font-size: 30px;
  text-align: center;
}

fieldset {
  margin-left: 0px;
  margin-right: -1px;
}

legend {
  font-size: 20px;
}

label {
  font-weight: bold;
}

div.form-column {
  float: left;
  padding: 5px;
}



hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

p.subtitle {
  font-size: 20px;
}



table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

tr:nth-child(1) {
  background-color: #c0c0c0;
}

.width40p {
  width: 40%;
}

.width20p {
  width: 20%;
}
