<!DOCTYPE html>
<html ng-app="discountCalc" id="htmlTop" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Калькулятор скидок</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="js/discountCalc.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div ng-controller="CalcController as cc" id="main">
      <div>
        <form ng-submit="cc.addProduct()">
          <fieldset>
            <legend>Добавить продукт</legend>
            <div class="form-column">
              <label for="productName">Продукт</label><br />
              <input ng-model="cc.productName" type="text" name="productName" size="15" />
            </div>
            <div class="form-column">
              <label for="price">Цена</label><br />
              <input ng-model="cc.productPrice" type="text" name="price" size="5" />
            </div>
            <div class="form-column">
              <br />
              <input type="submit" value="Добавить">
            </div>
          </fieldset> 
        </form>
      </div>
      <hr />
      <div>
        <p class="subtitle">Корзина</p>
        <table id="products">
          <tr>
            <th class="width40p">Продукт</th>
            <th class="width20p">Цена</th>
            <th class="width40p">Цена со скидкой</th>
          </tr>
          <tr ng-repeat="product in cc.products">
            <td >{{product.name}}</td>
            <td >{{product.price}}</td>
            <td >{{product.discountPrice}}</td>
          </tr>
        </table>
        <p>
          <form ng-submit="cc.applyDiscount()">
            Применить скидку
            <input type="text" name="discount" size="2" value="0" />
            рублей
            <input ng-model="cc.totalDiscount" type="submit" value="Применить">
          </form>
        </p>
      </div>
    </div>
  </body>
</html>
